@import '../bower_components/bourbon/dist/_bourbon.scss'

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700)

$desktop: 960px
$tablet: 768px
$mobile: 600px

$golden3: golden-ratio(1em, 3)

$border-color: black
$border-width: golden-ratio(1em, -4)
$std-border: $border-width solid black
$project-height: golden-ratio(em(50%, 14), 0)

body
  max-width: $desktop
  margin: auto
  text-align: center

  font-family: 'Roboto Slab', Georgia, serif
  margin: golden-ratio(1em, 2) auto

  @media (max-width: $desktop)
    font-size: 12px
    max-width: $tablet

  @media (max-width: $tablet)
    font-size: 10px

a
  text-decoration: none
  color: inherit
  @include transition(background .3s ease, color .3s ease)
  padding: 2px 3px
  margin: -2px -3px

  &:hover
    text-decoration: none
    background: $border-color
    color: white

strong
  display: inline-block

header
  display: inline-block
  text-align: center
  line-height: 1

  .the, .club
    font-size: golden-ratio(1em, 2)
    font-style: italic

  .adequate, .software
    font-size: golden-ratio(1em, 4)
    text-transform: uppercase

  .adequate
    margin-top: 0.1em
    padding-top: 0.05em
    border-top: $std-border

  .software
    margin-bottom: 0.1em
    padding-bottom: 0.1em
    border-bottom: $std-border

.tagline
  margin: golden-ratio(1em, 2) auto golden-ratio(1em, 2)
  font-size: golden-ratio(1em, 2)

  .good
    font-weight: bold

.projects

  header
    font-size: $golden3
    display: block
    text-transform: uppercase
    font-weight: bold
    margin-bottom: 0.2em

  ul
    @include clearfix
    margin: 0
    padding: 0
    border: golden-ratio(1em, -1) solid black
    list-style-type: none

    @media (max-width: $mobile)
      margin: 0 1em

    .project > a, &:empty:before
      position: relative
      @include size(50% $project-height)
      @include box-sizing(border-box)
      @include transition(all .3s ease)
      float: left
      border: $std-border

      line-height: 1.1
      font-size: $golden3
      font-weight: bold
      padding: ($project-height / 2 - 1em) 0
      margin: 0

      @media (max-width: $mobile)
        width: 100%

      .hook
        font-size: golden-ratio(1em, -2)

      .stats
        font-size: golden-ratio(1em, -3)

        .language
          margin-right: 2em

    &:empty:before
      content: 'Loading...'
      width: 100%
      padding: ($project-height / 2 - .7em) 0

footer
  margin: 2em auto
  span, a
    font-weight: bold

  a
    color: gray
