@import '../bower_components/bourbon/dist/_bourbon.scss'

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700)

@function grem($steps: 0)
  @return golden-ratio(1em, $steps)

@mixin invert($color: white)
  color: $color
  background: invert($color)

$desktop: 960px
$tablet: 768px
$mobile: 600px

$golden3: grem(3)

$border-color: black
$border-width: grem(-4)
$std-border: $border-width solid black
$project-height: grem(3)

body
  max-width: $desktop
  margin: auto
  text-align: center

  font-family: 'Roboto Slab', Georgia, serif
  margin: grem(2) auto

  @media (max-width: $desktop)
    font-size: 12px
    max-width: $tablet

  @media (max-width: $tablet)
    font-size: 10px

a
  text-decoration: none
  color: inherit
  @include transition(background .3s ease, color .3s ease)
  padding: 2px 3px
  margin: -2px -3px

  &:hover
    text-decoration: none
    @include invert()

strong
  display: inline-block

header
  display: inline-block
  text-align: center
  line-height: 1

  .the, .club
    font-size: grem(2)
    font-style: italic

  .adequate, .software
    font-size: grem(4)
    text-transform: uppercase

  .adequate
    margin-top: 0.1em
    padding-top: 0.05em
    border-top: $std-border

  .software
    margin-bottom: 0.1em
    padding-bottom: 0.1em
    border-bottom: $std-border

.tagline
  margin: grem(2) auto grem(2)
  font-size: grem(2)

  .good
    font-weight: bold

.projects

  .projects-header
    font-size: $golden3
    display: block
    text-transform: uppercase
    font-weight: bold
    margin-bottom: 0.2em

  ul
    @include clearfix
    margin: 0
    padding: 0
    border: grem(-1) solid black
    list-style-type: none

    @media (max-width: $mobile)
      margin: 0 1em

    .project > a, &:empty:before
      position: relative
      @include size(100% $project-height)
      @include box-sizing(border-box)
      @include transition(all .3s ease)
      float: left
      border: $std-border

      line-height: 1.1
      font-size: $golden3
      font-weight: bold
      padding: ($project-height / 4) 0
      margin: 0

      @media (max-width: $mobile)
        width: 100%

      .hook
        padding: 0.5em 4em
        font-size: grem(-2)

        @media (max-width: $mobile)
          padding-left: 1em
          padding-right: 1em

      .stats
        font-size: grem(-3)

        .language
          margin-right: 2em

    &:empty:before
      content: 'Loading...'
      padding: ($project-height / 2 - .7em) 0

footer
  position: absolute
  left: 0
  right: 0

  @include invert()
  padding: grem(1)

  span, a
    font-weight: bold

  a
    color: lightgray
    &:hover
      @include invert(black)

.headhesive
  // floating at the top of the page
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1

  // nice little slide transition when it appears
  @include transform(translateY(-100%))
  @include transition(all .3s ease)
  &.headhesive--stick
    @include transform(translateY(0%))

  @include invert()
  padding: 1em

  .the, .club
    display: inline
    margin: 0 0.2em
    font-size: grem(1)

  .adequate, .software
    display: inline
    font-size: grem(2)
    font-weight: bold
    border: none

  .adequate
    margin-right: 0.2em
