@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
body { max-width: 960px; margin: auto; text-align: center; font-family: "Roboto Slab", Georgia, serif; margin: 2em auto; }

a { text-decoration: none; color: inherit; -webkit-transition: background 0.3s ease, color 0.3s ease; -moz-transition: background 0.3s ease, color 0.3s ease; transition: background 0.3s ease, color 0.3s ease; padding: 2px 3px; margin: -2px -3px; }
a:hover { text-decoration: none; background: black; color: white; }

header { display: inline-block; text-align: center; font-size: 3em; line-height: 1; }
header .the, header .club { font-size: 1em; font-style: italic; }
header .adequate, header .software { font-size: 2em; text-transform: uppercase; }
header .adequate { margin-top: 0.1em; padding-top: 0.05em; border-top: 0.1em solid black; }
header .software { margin-bottom: 0.1em; padding-bottom: 0.1em; border-bottom: 0.1em solid black; }

.tagline { margin: 2em auto 2em; font-size: 2em; }
.tagline .good { font-weight: bold; }

.projects header { display: block; text-transform: uppercase; font-weight: bold; margin-bottom: 0.2em; }
.projects ul { margin: 0; padding: 0; border: 0.1em solid black; list-style-type: none; font-size: 4em; }
.projects ul:after { content: ""; display: table; clear: both; }
.projects ul .project > a, .projects ul:empty:before { position: relative; height: 4em; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; float: left; border: 0.1em solid black; line-height: 1.1; font-weight: bold; padding: 1.2em 0; margin: 0; }
.projects ul .project > a .hook, .projects ul:empty:before .hook { font-size: 0.3em; }
.projects ul .project > a .language, .projects ul:empty:before .language { position: absolute; bottom: 0.3em; right: 0.3em; font-size: 0.3em; }
.projects ul:empty:before { content: "Loading..."; width: 100%; }

footer { margin: 2em auto; }
footer span, footer a { font-weight: bold; }
footer a { color: gray; }
