@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
body { max-width: 960px; margin: auto; text-align: center; font-family: "Roboto Slab", Georgia, serif; margin: 2.61792em auto; }
@media (max-width: 960px) { body { font-size: 12px; max-width: 768px; } }
@media (max-width: 768px) { body { font-size: 10px; } }

a { text-decoration: none; color: inherit; -webkit-transition: background 0.3s ease, color 0.3s ease; -moz-transition: background 0.3s ease, color 0.3s ease; transition: background 0.3s ease, color 0.3s ease; padding: 2px 3px; margin: -2px -3px; }
a:hover { text-decoration: none; color: white; background: black; }

strong { display: inline-block; }

header { display: inline-block; text-align: center; line-height: 1; padding-top: 1.618em; }
header .the, header .club { font-size: 2.61792em; }
header .adequate, header .software { font-size: 6.85353em; text-transform: uppercase; }
header .adequate { margin-top: 0.1em; padding-top: 0.05em; border-top: 0.14591em solid black; }
header .software { margin-bottom: 0.1em; padding-bottom: 0.1em; border-bottom: 0.14591em solid black; }

.tagline { margin: 2.61792em auto 2.61792em; font-size: 2.61792em; }
.tagline .good { font-weight: bold; }

.projects .projects-header { font-size: 4.2358em; display: block; text-transform: uppercase; font-weight: bold; margin-bottom: 0.2em; }
.projects ul { margin: 0; padding: 0; list-style-type: none; }
.projects ul:after { content: ""; display: table; clear: both; }
@media (max-width: 600px) { .projects ul { margin: 0 1em; } }
.projects ul .project > a, .projects ul:empty:before { display: block; height: 4.2358em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; border: 0.14591em solid black; border-bottom: none; line-height: 1.1; font-size: 4.2358em; font-weight: bold; padding: 1.05895em 0; margin: 0; }
@media (max-width: 600px) { .projects ul .project > a, .projects ul:empty:before { width: 100%; } }
.projects ul .project > a .hook, .projects ul:empty:before .hook { padding: 0.5em 4em; font-size: 0.38198em; }
@media (max-width: 600px) { .projects ul .project > a .hook, .projects ul:empty:before .hook { padding-left: 1em; padding-right: 1em; } }
.projects ul .project > a .stats, .projects ul:empty:before .stats { font-size: 0.23608em; }
.projects ul .project > a .stats .language, .projects ul:empty:before .stats .language { margin-right: 2em; }
.projects ul:empty:before { content: "Loading..."; padding: 1.4179em 0; border-bottom: 0.14591em solid black; }
.projects ul .project:last-child > a { border-bottom: 0.14591em solid black; }

footer { position: absolute; left: 0; right: 0; color: white; background: black; padding: 1.618em; }
footer span, footer a { font-weight: bold; }
footer a { color: lightgray; }
footer a:hover { color: black; background: white; }

.headhesive { position: fixed; top: 0; left: 0; right: 0; z-index: 1; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; color: white; background: black; padding: 1em; }
.headhesive.headhesive--stick { -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%); }
.headhesive .the, .headhesive .club { display: inline; margin: 0 0.2em; font-size: 1.618em; }
.headhesive .adequate, .headhesive .software { display: inline; font-size: 2.61792em; font-weight: bold; border: none; }
.headhesive .adequate { margin-right: 0.2em; }
