<li class="project">
  <a href="{{or homepage html_url}}">
    <span class="title">{{name}}</span>
    <div class="hook">{{description}}</div>
    <div class="language">{{language}}</div>
  </a>
</li>
